body {
    font-family: lato;
    /*background-color: slategray;*/
    background-color: #34B297;
}

@font-face {
    font-family: lato;
    src: url(assets/fonts/Lato-Light.ttf);
}

img {
    width: 150px;
    height: 150px;
}

input {
    background-color: #FAF9F6;
    width: 11%;
    padding: 0.4%;
    border-radius: 5px;
    border: none;
    margin: 0.5%;

    transition-property: all;
    transition-duration: 200ms;
}

input:hover {
    width: 11.3%;
    opacity: 0.9;
}

button {
    color: #FAF9F6;
    width: 4.7%;
    padding: 0.5%;
    margin: 0.5%;
    border: none;
    border-radius: 5px;

    transition-property: all;
    transition-duration: 200ms;
}

button:hover {
    width: 4.9%;
    opacity: 0.8;
}

p {
    font-weight: 800;
    font-size: 1.2em;
    margin: 0;
    color: red;
}

#container {
    color: #FAF9F6;
    text-align: center;
}

#header {
    font-size: 2.5vw
}

#createAccountArea {
    display: none;
    margin: auto;
    display: flex;

    flex-direction: column;
    align-items: center;
}

#errorCreateEmail {
    font-weight: 800;
    display: none;
    margin: 0;
    color: tomato;
}

#crateAccountButton {
    background-color: #4040ff;
}

#enterButton {
    background-color: #4040ff;
}

#goToLoginButton {
    background-color: #4040ff;
}

#generatorArea {
    display: none;
}

#userCreatedArea {
    display: none;
    flex-direction: column;
    align-items: center;
}

#leaveToStartButton {
    background-color: red;
}

#makeLoginButton {
    width: 6%;
    display: inline;
    background-color: #4040ff;

    transition-property: all;
    transition-duration: 200ms;
}

#makeLoginButton:hover {
    width: 6.2%;
    opacity: 0.9;
}

#loginArea {
    display: none;
}

#loginInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputLoginEmail {
    flex-shrink: 0;
    padding: 0.4%;
    border-radius: 5px;
    border: none;
    margin: 0.5%;
}

#inputLoginPassword {
    padding: 0.4%;
    border-radius: 5px;
    border: none;
    margin: 0.7%;
}

#backToCreateAccountButton {
    background-color: red;
}

#loginButton {
    background-color: #4040ff;
}

#mainButtons {
    display: none;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

#backToStartButton {
    background-color: red;
    padding: 0.7%;

    transition-property: all;
    transition-duration: 200ms;
}

#backToStartButton:hover {
    width: 4.9%;
}

#deleteAccountButton {
    width: 7.5%;
    padding: 0.7%;
    background-color: red;

    transition-property: all;
    transition-duration: 200ms;
}

#deleteAccountButton:hover {
    width: 7.7%;
}

#deleteArea {
    display: none;
}

#confirmDelete {
    width: 13%;
}

#confirmDelete:hover {
    width: 13.2%;
}

#allDeleteButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#noDeleteButton {
    background-color: red;
}

#deleteButton {
    background-color: #4040ff;
    width: 8%;

    transition-property: all;
    transition-duration: 100ms;
}

#deleteButton:hover {
    width: 8.2%;
}

#deleteAccountButton:hover {
    width: 7.2%;
}

#outDeleteAreaButton {
    display: none;
    margin: auto;
    background-color: red;
}

#generatePassword {
    margin: auto;
    background-color: #333333;
    color: #FAF9F6;
    width: 13%;
    font-size: 100%;
    padding: 0.8%;
    border-radius: 5px;
    border: none;

    transition-property: all;
    transition-duration: 200ms;
}

#generatePassword:hover {
    width: 13.3%;
    opacity: 0.9;
}

#passwordHTML {
    display: none;
    color: #34B297;
    background-color: #FAF9F6;
    width: 22%;
    margin: auto;
    border-radius: 5px;
    padding: 0.5%;
}

#savePasswordButton {
    width: 7.5%;
    display: none;
    background-color: #4040ff;
    color: #FAF9F6;
    border: none;
    border-radius: 5px;
    padding: 0.8%;

    transition-property: all;
    transition-duration: 200ms;
}

#savePasswordButton:hover {
    width: 7.8%;
    opacity: 0.9;
}

#saveControls {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#passwordFunction {
    display: none;
    padding: 0.5%;
}

#inputError {
    color: red;
}

#backButton {
    display: none;
    background-color: red;
}

#saveButton {
    display: none;
    background-color: #4040ff;
}

#passwordsArea {
    background-color: #FAF9F6;
    display: none;
    border-radius: 5px;

    width: 30%;
    padding: 0.5%;
    color: #34B297;
}

@media screen and (max-width: 1023px) {
    #header {
        font-size: 8.5vw;
    }

    #createYourAccount {
        font-size: 7.5vw;
    }

    input {
        width: 40%;
        padding: 1%;
        margin: 1%;
    }

    input:hover {
        width: 40.3%;
    }

    button {
        width: 20%;
        padding: 1.5%;
        margin-top: 2%;
    }

    button:hover {
        width: 20.3%;
        opacity: 0.8;
    }

    p {
        font-weight: 800;
        font-size: 1.2em;
        margin: 0;
        color: red;
    }

    #generatePassword {
        width: 30%;
        padding: 2%;
    }

    #generatePassword:hover {
        width: 30.3%;
    }

    #passwordsArea {
        width: 85%;
        padding: 0.5%;
        margin: 2%;
    }

    #deleteAccountButton {
        width: 25%;
        padding: 1.5%;
    }

    #deleteAccountButton:hover {
        width: 25.2%;
    }

    #passwordHTML {
        width: 85%;
        padding: 1.5%;
    }

    #passwordFunction {
        padding: 1.5%;
    }

    #confirmDelete {
        width: 45%;
        padding: 1%;
    }

    #confirmDelete:hover {
        width: 13.2%;
    }

    #deleteButton {
        width: 25%;
    }

    #deleteButton:hover {
        width: 25.2%;
    }

}
